*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
    letter-spacing: 0.5rem;
    text-align: center;
} */
.front{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 0%;
}
/* p::after{
    /* content: "\a\a\a\a\a\a\a";
    white-space: pre;
} */
.p1{
    margin-top: 150px;
    color: rgb(65, 130, 43);;
    font-size: 35px;
    font-weight: bold;
    font-display: inherit;
    font-family: 'Grand Hotel', cursive;
}
.one{
    margin-top: 250px; ;
    line-height: 60px;
    position: absolute;
    color: rgb(245, 245, 255);
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.front{
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(./pexels-pixabay-461428.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    /* background-repeat: round;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: fixed; */
}
.on{
    margin-top: 400px;
    position: absolute;
    display: inline-block;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    color: white;
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;
}
a{
    color: rgb(67, 147, 41);
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(240, 240, 255);
    opacity: 1;
    transition: all 0.5s ease;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 123, 40);
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}
ul li:hover a{
    padding-left: 50px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25px;
    position: fixed;
    font-size: 35px;
    color:rgb(65, 130, 43);
    transition: all 0.5s ease;
}
label #cancel{
    z-index: 1111;
    position: fixed;
    /* left: -195px; */
    left: -40px;
    top: 17px;
    font-size: 30px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 40px;
}


/* ...................... */

/* Laptop */

/* ...................... */


@media only screen and (min-width: 1025px) and (max-width: 1500px){
    
    .sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(240, 240, 255);
    opacity: 1;
    transition: all 0.5s ease;}

    .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 123, 40);
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}
ul li:hover a{
    padding-left: 50px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25px;
    position: fixed;
    font-size: 35px;
    color:rgb(65, 130, 43);
    transition: all 0.5s ease;
}
label #cancel{
    z-index: 1111;
    position: fixed;
    /* left: -195px; */
    left: -40px;
    top: 17px;
    font-size: 30px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 40px;
}

    
    .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
    letter-spacing: 0.5rem;
    text-align: center;
}
.column {
  float: left;
  width: 50%;
  height: 250px;
  border: 5px solid red;
  padding: 10px;
  display: flex;
  background: rgba(223, 223, 245, 0.6);
  transition: all 0.5s ease ;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* tiles icons */
#mug{
    font-size: 40px;
    /* padding-top: 20px; */
    padding-left: 300px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    /* position: relative; */
    color: rgba(0,0,0,0.8);
    /* left: 25%; */
    transition: all 0.7s ease;
    border: 2px solid red;
    /* overflow: auto; */
}
#cheese{
    font-size: 35px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7s ease;
    color: rgba(0,0,0,0.8);
}
#bo{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7s ease;
    color: rgba(0,0,0,0.8);
}
#mo{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7 ease;
    color: rgba(0,0,0,0.8);
}
.stat{
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
}
.column:hover {
    background: rgb(61, 123, 40);
}
#column:hover > #bo{
    top: -10px;
}
#column:hover > #mo{
    top: -10px;
}
#column:hover > #mug{
    top: -10px;
}
#column:hover > #cheese{
    top:-10px;
}
/* in this method write the parent element like i had given */
/* the icon inside the paragraph and i was doing this  */
/* on the div so it didnt work but when i removed the paragraph  */
/* it worked as div became its parent element */

.mc{
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    top: 50px;
    /* border: 2px solid red; */
    /* display: block; */
}
.stat{
    display: block;
    justify-content: center;
    align-items: center;
}
.ket{
    width: 750px;
    height: 460px;
    object-fit: cover;
    display: flex;
    /* flex-shrink: 0%;
    min-width: 100%;
    min-height: 100%; */
    transition: all 0.5s ease;
}
.about{
    width: 50vw;
    margin: 100px auto;
    /* position: relative; */
    border: 10px solid rgb(71, 143, 47);
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ket:hover{
    transform: scale(1.2);
}
.abou1{
    width: 70vw;
    top: 0px;
    height: 60vh;
    padding-left: 50px;
    line-height: 30px;
    /* padding-top: 0px; */
    /* padding: 10px; */
    margin: 100px;
    border: 2px solid red;
}
.ab1{
    font-size: 50px;
    font-family: 'Grand Hotel', cursive;
    color: rgb(71, 143, 47);
    letter-spacing: 0.3rem;
}
.ab2{
    font-size: 35px;
    font-family: "Catamaran",sans-serif;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
}
.ab3{
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */
    /* text-align: center; */
}
.on1{

    display: inline-block;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 0.7rem 0.9rem;
    color: white;
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;
}
.product{
    height: 130vh;
    width: 100vw;
    border: 2px solid red;
    background: rgba(0,0,0,0.8);
}
.pro{
    width: 70vw;
    top: 0px;
    height: 50vh;
    padding-left: 50px;
    line-height: 20px;
    /* padding-top: 0px; */
    /* padding: 10px; */
    margin: 100px;
    border: 2px solid red;
}
.pr1{
    font-family: 'Grand Hotel', cursive;
    text-transform: capitalize;
    font-size: 35px;
    color: rgb(71, 143, 47);
    letter-spacing: 0.5rem;
}
.pr2{
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.pr3{
    color: white;
    padding-top: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.on2{
    display: inline-block;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 0.7rem 0.9rem;
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;
    font-weight: bold;
}
}
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* .......................... */
/* Small screen Mobile */
/* .......................... */


@media screen and (min-width: 360px) and (max-width: 640px){
   
    .front{
    display: flex;
flex-direction: column;
}
/* p::after{
    content: "\a\a\a\a\a\a\a";
    white-space: pre;
} */
.p1{
    /* margin-top: 150px; */
    display: flex;
    /* margin: 0px; */
    top: 30px;
    /* padding: 0px; */
    /* border: 2px solid red; */
    color: rgb(65, 130, 43);;
    font-size: 35px;
    font-weight: bold;
    font-display: inherit;
    font-family: 'Grand Hotel', cursive;
}
.one{
    /* margin-top: 250px; ; */
    line-height: 60px;
    position: absolute;
    top: 20px;
    left: 100px;
    /* border: 2px solid blue; */
    color: rgb(245, 245, 255);
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.front{
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(./pexels-pixabay-461428.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    /* background-repeat: round;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: fixed; */
}
.explore{
    /* border: 2px solid yellow; */
    width: 30vw;
    height: 90px;
    top: 5vh;
    margin: 200px auto;
    position: relative;
    /* border: 10px solid rgb(71, 143, 47); */
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .on{
    /* margin-top: 400px; */
    margin: 0px;
    position: relative;
    display: flex;
    margin-left: 0px;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    color: white;
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;}

   .sidebar{
    position: absolute;
    left: -840px;
    width: 840px;
    height: 100%;
    background: rgb(240, 240, 255);
    opacity: 1;
    transition: all 0.5s ease;}

    .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 123, 40);
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}
ul li:hover a{
    padding-left: 50px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25px;
    position: fixed;
    font-size: 35px;
    color:rgb(65, 130, 43);
    transition: all 0.5s ease;
}
label #cancel{
    z-index: 1111;
    position: fixed;
    /* left: -195px; */
    left: -40px;
    top: 17px;
    font-size: 30px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 40px;
}

   
   
    .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
    letter-spacing: 0.5rem;
    text-align: center;
}
.column {
  float: left;
  width: 50%;
  height: 250px;
  border: 5px solid red;
  padding: 10px;
  display: flex;
  background: rgba(223, 223, 245, 0.6);
  transition: all 0.5s ease ;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* tiles icons */
#mug{
    font-size: 40px;
    /* padding-top: 20px; */
    padding-left: 300px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    /* position: relative; */
    color: rgba(0,0,0,0.8);
    /* left: 25%; */
    transition: all 0.7s ease;
    border: 2px solid red;
    /* overflow: auto; */
}
#cheese{
    font-size: 35px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7s ease;
    color: rgba(0,0,0,0.8);
}
#bo{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7s ease;
    color: rgba(0,0,0,0.8);
}
#mo{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 200px;
    /* position: relative; */
    transition: all 0.7 ease;
    color: rgba(0,0,0,0.8);
}
.stat{
    height: 100vh;
    width: 100vw;
    border: 5px solid red;
}
.column:hover {
    background: rgb(61, 123, 40);
}
#column:hover > #bo{
    top: -10px;
}
#column:hover > #mo{
    top: -10px;
}
#column:hover > #mug{
    top: -10px;
}
#column:hover > #cheese{
    top:-10px;
}
/* in this method write the parent element like i had given */
/* the icon inside the paragraph and i was doing this  */
/* on the div so it didnt work but when i removed the paragraph  */
/* it worked as div became its parent element */

.mc{
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    top: 50px;
    /* border: 2px solid red; */
    /* display: block; */
}
.stat{
    display: block;
    justify-content: center;
    align-items: center;
}
.ket{
    width: 650px;
    height: 460px;
    object-fit: cover;
    display: flex;
    /* flex-shrink: 0%;
    min-width: 100%;
    min-height: 100%; */
    transition: all 0.5s ease;
}
.about{
    width: 80vw;
    margin: 100px auto;
    /* position: relative; */
    border: 10px solid rgb(71, 143, 47);
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ket:hover{
    transform: scale(1.2);
}
.abou1{
    width: 70vw;
    top: 0px;
    height: 60vh;
    padding-left: 50px;
    line-height: 30px;
    /* padding-top: 0px; */
    /* padding: 10px; */
    margin: 100px;
    border: 2px solid red;
}
.ab1{
    font-size: 50px;
    font-family: 'Grand Hotel', cursive;
    color: rgb(71, 143, 47);
    letter-spacing: 0.3rem;
}
.ab2{
    font-size: 35px;
    font-family: "Catamaran",sans-serif;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
}
.ab3{
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */
    /* text-align: center; */
}
.on1{

    display: inline-block;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 0.7rem 0.9rem;
    color: white;
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;
}
.product{
    height: 130vh;
    width: 100vw;
    border: 2px solid red;
    background: rgba(0,0,0,0.8);
}
.pro{
    width: 70vw;
    top: 0px;
    height: 50vh;
    padding-left: 50px;
    line-height: 20px;
    /* padding-top: 0px; */
    /* padding: 10px; */
    margin: 100px;
    border: 2px solid red;
}
.pr1{
    font-family: 'Grand Hotel', cursive;
    text-transform: capitalize;
    font-size: 35px;
    color: rgb(71, 143, 47);
    letter-spacing: 0.5rem;
}
.pr2{
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.pr3{
    color: white;
    padding-top: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.on2{
    display: inline-block;
    background: rgb(66, 131, 45);
    text-decoration: none;
    padding: 0.7rem 0.9rem;
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    outline: 0.2rem solid rgb(71, 143, 47);
    outline-offset: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    letter-spacing: 0.3rem;
    font-weight: bold;
}
}

/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */